body{
    background-image: url(image/heroBg.jpg);
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    cursor: url("image/cursor.png"), auto;
}

a:active,
button:active {
  transform: scale(0.95);
}

a,
button {
  display: inline-block;
  transition: transform 0.15s ease;
}

a:hover,
button:hover {
  cursor: url("image/cursor-hover.png") 6 6, pointer;
}

main{
    position: relative;
    display: flex;
    min-height: 100vh;
}

.sidebar {
  position: relative;
  display: flex;
  width: 300px;   
}

.content{
    /*make it transparent*/
    background-color: rgba(255, 255, 255, 0.6);

    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /*tell the flex to fill remaining space*/
    flex: 1;
}

.profile{
    border-top: 14px;
    background-color: #fff;
    border-top-left-radius: 100px 80px;
    border-top-right-radius: 100px 80px;
    padding: 10px;
    margin: 40px;

    position: relative;
    display: flexbox;
    perspective: 1000px;
    overflow: hidden;
}

.prof-content{
    width: 200px;
}

.prof-hero{
    position: relative;
    background-image: url(image/profHero2.jpg);
    margin: 0;
    background-size: cover;
   
    background-repeat: no-repeat;

    height: 150px;

    border-top-left-radius: 100px 80px;
    border-top-right-radius: 100px 80px;
}

.curve-text {
  position: absolute;
  width: 200px;
  height: 200px;

  top: 35px;   /* move up/down */
  left: 3px;   /* move left/right */
}

/* Text style */
.curve-text text {
  font-size: 28px;
  font-weight:1000;
  letter-spacing: 2px;
  fill: white;
  text-shadow: 2px 4px 20px rgba(0, 0, 0, 0.896);
  font-family: "Shadows Into Light", cursive;
  font-style: normal;
}

.prof-hero img{
    position: absolute;
    z-index: 1000;
    width: 55%;
    height: 75%;
    object-fit: cover;

    left: 20%;
    top: 45%;

    border:8px solid white;
    border-radius: 50%;
}

.prof-content{
    position: relative;
}

.nav-panel{
  position: absolute;
  display: flex;
  flex-direction: column;
  white-space: nowrap;

  gap: 40px;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.nav-panel a{
    position: relative;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight: bolder;
    color: #957DAD;
    transition: color 0.25s ease;
}

.nav-panel a::before{
    content: "";
    position: absolute;
    left:0;
    bottom: -4px;

    width: 0;
    height: 2px;
    background-color: #E0BBE4;
    color: #E0BBE4;

    transition: width 0.5s ease;
    transform: translateX(0);
}

.nav-panel a:hover{
    color: #E0BBE4;
}

.nav-panel a:hover::before{
    width: 100%;
}

.prof-content2{
    position: absolute;
    background-color: #fff;

    left: 0;
    top: 150px;
    width: 100%;
    height: 50%;

    transform-origin: left;    /* hinge on left edge */
    transform: rotateY(-90deg);/* folded shut */
    transition: transform 0.6s ease;
 
}

.prof-content2.open {
  transform: rotateY(0deg);
}

.prof-footer{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 30px;
    bottom: 10%;
    left: 59%;
    transform: translateX(-59%);
    

    font-size: 30px;
}

.prof-footer a{
    color: #957DAD;
    transition: transform 0.25s ease, color 0.25s ease;
}

.prof-footer a:hover{
    transform: scale(1.2);
    color: #E0BBE4;
}

.prof-footer button{
    color: #957DAD;
    padding-left: 0;
    font-size: 1.5rem;
    transition: transform 0.25s ease, color 0.25s ease;
}

.prof-footer button:hover{
    transform: scale(1.2);
    color: #E0BBE4;
}

.aboutMe{
    position: relative;
}

.aboutMe h3{
    position: absolute;
    top: 37px;
    left: 60px;

    color: #957DAD;
}

.aboutMe p{
    position: absolute;
    top: 65px;
    margin-left: 11px;
    margin-right: 11px;

    line-height: 1;

    text-align: justify;
    font-family: "Amatic SC", cursive;
    font-weight: bolder;
    font-size: 1.3rem;
}
